{% extends 'base.html.twig' %}

{% block title %}Folio Shop{% endblock %}

{% block container %}
Bienvenue {{ app.user.firstname }} in your account
    <a href="{{ path('account_password') }}">Change My password </a>
{% endblock %}
