{% extends 'base.html.twig' %}

{% block title %}Folio Shop{% endblock %}

{% block container %}
    <br>
    <hr>
    <div class="text-center">
Bienvenue {{ app.user.firstname }} in your account <br/>
        <hr>
    <a href="{{ path('account_password') }}">Change My password </a>
        <hr>
        <a href="{{ path('account_address') }}"><p>- Mes adresses</p></a>
        <hr>
        <a href="{{ path('cart') }}"><p>-Mes Commandes</p></a>
    </div>
{% endblock %}
