{% extends 'base.html.twig' %}

{% block title %}Folio Shop{% endblock %}

{% block container %}
<div class="pass">
    <a href="{{ path('account') }}">Return  </a>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
