{% extends 'base.html.twig' %}

{% block content %}

	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>À propos de nous - foryoumer.com</title>
			<link rel="stylesheet" type="text/css" href="style.css">

		</head>
		<body>
			<main>
				<header id="header">
					<div id="banner">
						<img src="/assets/images/foryoumer.png" alt="Logo foryoumer.com" width="auto" height="60px">
						<h1>Bienvenue sur foryoumer.com !</h1>
					</div>
				</header>

				<section id="about">
					<div class="container">
						<h2>À propos de nous</h2>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="about-text">
									<p>Nous sommes une boutique en ligne spécialisée dans la vente de produits de qualité pour vous accompagner dans votre vie quotidienne.</p>
									<p>Nous sommes une équipe passionnée par les produits que nous proposons. Nous avons sélectionné soigneusement chaque produit que vous trouverez sur notre site pour vous offrir la meilleure qualité possible. Nous croyons que chacun devrait avoir accès à des produits qui améliorent leur vie de tous les jours, que ce soit des produits de beauté, des produits pour la maison, des produits électroniques ou des accessoires de mode.</p>
									<p>Notre mission est de vous offrir une expérience de magasinage en ligne exceptionnelle. Nous sommes toujours à la recherche de nouvelles tendances et de nouveaux produits pour vous proposer une sélection variée et complète. Notre équipe travaille constamment à améliorer notre service clientèle pour vous offrir une expérience d'achat facile et agréable.</p>
									<p>Nous sommes fiers d'être une entreprise basée sur des valeurs solides. Nous croyons en l'équité, l'intégrité et la transparence. Nous sommes engagés à offrir des produits éthiques et responsables, tout en travaillant avec des fournisseurs de confiance qui partagent nos valeurs.</p>
									<p>Nous vous remercions d'avoir choisi foryoumer.com pour vos achats en ligne. Nous sommes ravis de vous aider à trouver les produits qui amélioreront votre vie quotidienne. Si vous avez des questions ou des commentaires, n'hésitez pas à nous contacter.</p>
									<p>L'équipe foryoumer.com</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			</main>

		</body>
		<style>
	
		</style>
	</html>
{% endblock %}
