{% extends 'base.html.twig' %}

{% block content %}
    <section id="services">
        <div class="services-container">
            <h2>Nos services</h2>
            <p>Notre équipe de professionnels est à votre disposition pour répondre à toutes vos questions et vous aider à choisir le produit qui convient le mieux à vos besoins. Nous sommes fiers de fournir un service client exceptionnel et nous nous engageons à vous offrir une expérience d'achat en ligne facile et agréable. Chez foryoumer.com, nous croyons en la qualité, la transparence et la satisfaction du client.</p>
            
            <div class="service">
                <i class="fas fa-truck"></i>
                <h3>Livraison rapide</h3>
                <p>Nous offrons une livraison rapide et fiable pour que vous puissiez profiter de vos produits le plus tôt possible.</p>
            </div>
            <div class="service">
                <i class="fas fa-credit-card"></i>
                <h3>Paiement sécurisé</h3>
                <p>Nous utilisons des technologies de paiement sécurisées pour vous protéger contre la fraude et le vol d'identité.</p>
            </div>
            <div class="service">
                <i class="fas fa-customer-service"></i>
                <h3>Service clientèle exceptionnel</h3>
                <p>Notre équipe de service clientèle est là pour vous aider à tout moment. N'hésitez pas à nous contacter pour toute question ou préoccupation.</p>
            </div>
        </div>
    </section>

    <style>
    h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 2em;
}

    </style>
{% endblock %}
