{% extends 'base.html.twig' %}

{% block title %}Vérifiez votre e-mail{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Vérifiez votre e-mail</h5>
      <p class="text-success">Un e-mail contenant un lien de réinitialisation de mot de passe a été envoyé. Veuillez vérifier votre boîte de réception.</p>
    </div>
  </div>
</div>
    
{% endblock %}
