{% extends 'base.html.twig' %}

{% block title %}Vérifiez votre e-mail{% endblock %}

{% block content %}
    <h1>Vérifiez votre e-mail</h1>
    <p>Un e-mail contenant un lien de réinitialisation de mot de passe a été envoyé. Veuillez vérifier votre boîte de réception.</p>
{% endblock %}
