{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
    <h1>Réinitialiser le mot de passe</h1>

    <form method="post" action="{{ path('app_reset_password', {'token': token}) }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
