{% block seo %}
    <meta name="robots" content="index,follow" />
    <title>Foryoumer - Your Online Store for Health, Beauty & More
		</title>
		<meta charset="UTF-8">
		<meta name="google-site-verification" content="NcMDVxMcuILOFYdEdjV4rnQ7xngn52ddBq0nkzkG1ZA"/>
		<meta name="description" content="Découvrez Foryoumer, votre marketplace internationale pour la beauté, la santé, le fitness, l'électronique et plus encore. Des produits de qualité, livrés partout dans le monde!">
		<meta name="keywords" content="protéine naturelle, protéine bio, protéine sans additif, protéine pour musculation, complément alimentaire naturel, whey bio, nutrition sportive, protéines naturelles en France, livraison protéines Paris, fitness nutrition Lyon, protéines Marseille, protéines végétales bio, alimentation sportive Lille">


		<meta name="author" content="MARTECH | Deer Creative Theme">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
