{% autoescape %}
<p>Bonjour,</p>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {'token': token}) }}">Réinitialiser le mot de passe</a>

<p>Ce lien expirera dans 24 heures. Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail.</p>

<p>Cordialement,</p>
<p>L'équipe de votre application</p>
{% endautoescape %}
