{% extends 'base.html.twig' %}

{% block title %}Erreur de recherche{% endblock %}

{% block content %}
    <div class="container">
        <h1>Erreur de recherche</h1>
        <p>Une erreur est survenue lors de la recherche. Veuillez réessayer.</p>
        <a href="{{ path('products') }}">Retour à la liste des produits</a>
    </div>
{% endblock %}
